<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(114, 98, 48);">

    <h1>Sandwich</h1>
    <div>
    <img src="https://i.ibb.co/bW4wCss/Homemade-Grilled-Cheese-Sandwich-with-Tomatoes.png" class="img" alt="">
    <br>
    
    <select class="btn" #task>
    <option class="btn"  value="Bread">Bread</option>
    <option class="btn"   value="Cheese">Cheese</option>
    <option  class="btn"  value="Tomato">Tomato</option>
    <option  class="btn"  value="Lettuce">Lettuce</option>
    </select>
    <button class="btn" (click)="_task.addTask(task.value);alert()">Add</button>  
    </div>
    <div class="RP">
        <h2>HOW TO MAKE</h2>
    <p >1. Bread forms the basis of the perfect sandwich. Whether you like soft and squishy buns or a crusty baguette, you have options galore. The basic white loaf or the snacky pita pockets, take your pick. But the thumb rule is to choose the right bread. For moist fillings, use dry and dense breads. A nice, thick crust helps in keeping the stuffing in place.</p>  
    <p >2. You can toast it, serve it grilled, warm up or have it cold. Toasting brings out the sweetness of the bread.</p>
    <p>3. Use a spread to give your sandwich a creamy texture. You can choose from BBQ, mayonnaise and other spread or experiment with healthier alternatives like pesto, whole grain mustard, hung curd or homemade salsa.</p>
    <p>4. To avoid sogginess – Spread the sauce till the edges to the seal the sandwich. Also, use hydrating ingredients like cucumber or tomatoes separately. Add them in the end, right before serving. Use cheese or meat as a layer between the bread and ingredients with high moisture. You can also butter your bread to protect it from becoming soggy.</p>
    <p>5. You can skip the traditional tomatoes and try roasted peppers, sautéed onions or carrots for the crunch. Add some freshness by using spinach or cabbage instead of lettuce.</p>
    <p>6. Keep it simple. Do not try to over stuff your sandwich with too many ingredients or sauces. Sprinkle herbs or seasonings to add the finishing touch. Try balancing your flavours. If the ingredients are heavy then use light sauces or maybe vinegar.</p>
</div>
    
    <!-- <button (click)="_task.addTask(task.value); task.value = ''">Add</button>   -->
</body>
</html>

