<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button class="btn1" routerLink="">Home</button>
  <br>
  <button class="btn2" routerLink="recipe1">Recipe1</button>
  <br>
  <button class="btn3" routerLink="recipe2">Recipe2</button>
  <br>
  <button class="btn4" routerLink="recipe3">Recipe3</button>
  <br>
  <button class="btn5" routerLink="recipe4">Recipe4</button>
  <br>
  <button class="btn6" routerLink="cart"> Cart  </button>
  <br>
  <router-outlet></router-outlet>
</body>
</html>