<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(114, 98, 48);">
    <h1>Boiled Eggs</h1>
    <img src="https://i.ibb.co/bQ1jDsR/Hard-Not-Boiled-Eggs-Recipe-Image.jpg" class="img">
    <br>
      
    <div>
    <select class="btn" #task>
        <option class="btn"  value="Eggs">Eggs</option>
        <option class="btn"  value="Salt">Salt</option>
        <option class="btn" value="Onions">Onions</option>
        <option class="btn" value="Black Peppers">Black Peppers</option>
        </select>
        <button class="btn" (click)="_task.addTask(task.value); alert()">Add</button>  
        </div>
        <div class="RP">
            <h2>HOW TO MAKE</h2>
    <p>1.The thing about boiled eggs is that it's really easy to get them wrong and extremely challenging to get them right. For example, if you boil them for too long they literally tear through their shell and the yolk tastes rubber-like and dry. But if you don't boil them enough, the egg white and yolk seems runny and tastes raw. So before you head to our best boiled egg recipes, let's learn how to boil one.</p>
    <p>2.Now, you can boil it in three different, but equally delicious ways: There's one with a wobbly, almost gooey inside, another with a semi-soft yolk that crumbles in seconds and the kind which is hard boiled and can be sliced beautifully and eaten on toast. Boil some water and then dunk your eggs in it. Cover and cook for a certain amount of time which will vary on the type of egg you want. As soon as the eggs are cooked, plunge them in cold water and then peel the shell off.</p>
</div>
    
    
</body>
</html>

